* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #830101;
    color: white;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: rgba(255, 255, 255, 0.2);
}

tfoot {
    background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    th, td {
        padding: 8px;
    }
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Opsional: Membuat sudut gambar melengkung */
}

.kel h2{
    text-align: center;
    margin-top: 30%;
}

footer {
    text-align: center;
}